@{
    ViewData["Title"] = "Informacion Institucional";
}
<h1>@ViewData["Title"]</h1>
<hr>
<h2>Reserva de Espectaculo</h2>
<br>
<h3>Instituto de Tecnologia Ort</h3>
<br>
<p><u>Profesor:</u> Mariano Longo</p>
<br>
<p><u>Integrantes:</u>  Zodda, David, Kotch, Pergamo</p>

