@model RESERVA_C.Models.ViewModels.PeliculaReservarVM

@{
    ViewData["Title"] = "Reservar";
}

<h1>Reservar Butacas</h1>

<form asp-action="Index" asp-controller="Funciones" method="get">
    <div class="form-group">
        <label asp-for="CantidadButacas" class="control-label"></label>
        <input asp-for="CantidadButacas" class="form-control" />
        <span asp-validation-for="CantidadButacas" class="text-danger"></span>
    </div>
    <input type="hidden" name="peliculaId" value="@ViewBag.PeliculaId" />
    <button type="submit" class="btn btn-primary">Buscar Funciones Disponibles</button>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}