html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-brand{
    background: url(img/logo2.jpg) no-repeat;
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    border-radius: 125px;
    margin: 0px;
}


/*agregar esta clase dialog elemento que corresponda*/
/*.foto-pelicula {
    background-size: 200px 200px;
    height: 300px;
    width: 200px;
    margin: 0px;
}*/
